.main-container{
    position: absolute;
    z-index:1;
    height: auto;
    margin: 0;
    padding: 0;
    top:100vh;
    background-color: white;
}

.main-grid{
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar navbar navbar navbar'
    'main main main main main main main'
    'about about about about about about about'
    'footer footer footer footer footer footer footer';
    grid-template-rows: auto minmax(40vh, 200px) auto 300px;
}
.navbar{
    position: sticky;
    top: 0vh;
    grid-area: navbar;
    background-color: aliceblue;
}


.menu-nav-link:hover .menu-nav-elem{
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: 0vw;
    margin-right: 0vw;
    transform: rotateY(0deg);
}
.menu-nav-elem{
    padding-right: 1vw;
    padding-left: 1vw;
    margin: 0 2vw 0 2vw;
    color: white;
    border-bottom: 1px white solid;
    transition: .7s cubic-bezier(0.19, 1, 0.22, 1);
    font-family: 'Lato', sans-serif;
    
}
.menu-nav-responsive-switch{
    display: none;
}
.home-content{
    display: flex;
    flex-direction: column;
    grid-area: main;
    align-items: top;
    justify-content: flex-start;

}
.drill-img-cont{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("drill1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.drill-img-desc{
    display:flex;
    flex-direction: column;
    width: 1000px;
    max-width: 90vw;
    min-height: 50%;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, .15); 
    color: white;
    padding: 10px 0px 10px 0px;
}
.drill-img-desc > h1{
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
}
.drill-img-desc > a{
    text-decoration: none;
}
.drill-img-btn{
    display: flex;
    border: 1px rgba(255, 255, 255, 0.342) solid;
    border-radius:6px;
    padding: 12px 25px 12px 25px;
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: rgba(255, 255, 255, 0.089);
}
.drill-img-btn:hover{
    padding: 12px 37px 12px 37px;
}
.drill-img-btn > p{
    margin: 0;
    font-size: .85em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
}
.about-container{
    grid-area: about;
    display: flex;
}

.about-container  .jumbotron{
    width: 100%;
    background-color: rgb(255, 255, 255);

}
.jumbotron > p{
    text-align: justify;
}
.jbw-container{
    display: flex;
    flex-direction: column;
    float: right;
    width: minmax(400px, 80vw);
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 20px;
    background-color: rgb(241, 241, 241);
    border: 2px solid rgb(238, 238, 238);
    border-radius: 5px;
}
.jbw-img{
    width: 100%;
    float: right;
    border-radius: 2px;
}
.jbw-container > p{
    margin: 0;
    justify-self: center;
    padding: 15px 0px 15px 0px;
    text-align: center;
    font-size: .7em;
}
.page-footer{
    grid-area: footer;
    background-color: rgb(25, 29, 39);
    color: white;
}
.social-img{
    width: 48px;
    height: 48px;
}
.footer-links{
    position: relative;
    background-color: rgb(23, 26, 36);
}