.main-container{
    position: absolute;
    z-index: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
    top:0vh;
    background-color: white;
}

.main-grid{
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'logo logo menu menu menu menu menu'
    'main main main main main main main'
    'main main main main main main main';
    grid-template-rows: 75px auto auto;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 
}

.menu-container{
    display: flex;
    grid-area: menu;
    align-items: center;
}

.menu-logo{
    display: flex;
    grid-area: logo;
    height: 100%;
    align-items: center;
    justify-content: left;
}
.menu-logo h1{
    font-family: 'Permanent Marker', cursive;
    margin-left: -20px;
}
.menu-logo-svg {
    position: relative;
    left: -10px;
    top: 10px;
    width: 140px;
    height: 70px;
    transform: rotate(-45deg) scale(0.6);
    fill: none;
    stroke: rgb(20, 20, 20);
    stroke-width: 7px;
}

.menu-nav{
    display: flex;
    align-items: center;
    justify-self: right;
    height: 100%;
    margin-left: auto;
    margin-right: 75px;
    float: right;
}
.menu-nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
.menu-nav-link{
    text-decoration: none;
}
.menu-nav-link:hover .menu-nav-elem{
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: 0vw;
    margin-right: 0vw;
    transform: rotateY(0deg);
}
.menu-nav-elem{
    padding-right: 1vw;
    padding-left: 1vw;
    margin: 2vw;
    color: black;
    border-bottom: 1px black solid;
    transition: .7s cubic-bezier(0.19, 1, 0.22, 1);
    font-family: 'Lato', sans-serif;
    
}
.home-content{
    display: flex;
    flex-direction: column;
    grid-area: main;
    align-items: top;
    justify-content: flex-start;

}
.drill-img-cont{
    display: flex;
    width: 100%;
    height: 50%;
    background-image: url("drill1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.drill-img-desc{
    display:flex;
    flex-direction: column;
    width: 1000px;
    max-width: 90vw;
    min-height: 50%;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, .15); 
    color: white;
    padding: 10px 0px 10px 0px;
}
.drill-img-desc > h1{
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
}
.drill-img-desc > a{
    text-decoration: none;
}
.drill-img-btn{
    display: flex;
    border: 1px rgba(255, 255, 255, 0.342) solid;
    border-radius:6px;
    padding: 12px 25px 12px 25px;
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: rgba(255, 255, 255, 0.089);
}
.drill-img-btn:hover{
    padding: 12px 37px 12px 37px;
}
.drill-img-btn > p{
    margin: 0;
    font-size: .85em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
}
.about-container{
    display: grid;
    width: 100%;
    height: 50vh;
}

.about-container  .jumbotron{
    background-color: white;
}