.main-container{
    position: absolute;
    z-index: 1;
    height: 100vh;
    top:0vh;
    background-color: white;
}
.menu-container{
    padding: 30px;
}
.menu-nav{
    float: right;
    margin-right: 75px;
}
.menu-nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.menu-nav-elem{
    padding: 3vw;
    padding-top:0; 
    padding-bottom: 0;
    color: black;
}
.menu-nav-elem a{
    color: black;
}
.menu-logo-svg{
    height: 10vh;
}